.level-up-power {
  line-height: 1.2;
  font-size: 14px;
}

.champion-hp {
  font-size: 14px;
}

@media (min-width: 576px) {
  .level-up-power {
    height: 120px;
  }
}

@media (min-width: 768px) {
  .level-up-power {
    height: 135px;
  }
}

@media (min-width: 992px) {
  .level-up-power {
    height: 85px;
  }
}

@media (min-width: 1200px) {
  .level-up-power {
    height: 100px;
  }
}
