.level-up-power {
  line-height: 1.3;
}

@media (min-width: 576px) {
  .level-up-power {
    height: 165px;
  }
}

@media (min-width: 768px) {
  .level-up-power {
    height: 185px;
  }
}

@media (min-width: 992px) {
  .level-up-power {
    height: 125px;
  }
}

@media (min-width: 1200px) {
  .level-up-power {
    height: 165px;
  }
}
