.header-bg-red,
.header-bg-blue,
.header-bg-yellow {
  height: 70px;
}
.header-bg-red {
  background-color: #ed969e;
}
.header-bg-blue {
  background-color: #7abaff;
}
.header-bg-yellow {
  background-color: #ffdf7e;
}

.card-text {
  line-height: 1.3;
}

.card-power {
  font-size: 14px;
  line-height: 1.3;
}

.card-details {
  font-size: 13px;
  line-height: 1.2;
  height: 87px;
}

.card-champion-name {
  font-size: 11px;
  line-height: 1;
}

@media (min-width: 576px) {
  .card-text {
    height: 165px;
  }
}

@media (min-width: 768px) {
  .card-text {
    height: 185px;
  }
}

@media (min-width: 992px) {
  .card-text {
    height: 125px;
  }
}

@media (min-width: 1200px) {
  .card-text {
    height: 165px;
  }
}
